.insight-result-section-mpg {
   height: 300px;
   width: 400px;

   border: 1px solid white;
}

.insight-result-section-mpg p{
   width: 400px;
}

.insight-result-section-emit {
   height: 300px;
   width: 400px;
 
   border: 1px solid white;
}

.insight-result-section-social {
   border: 1px solid white;
   height: 300px;
   width: 400px;

}


.chart-weight{
   height: 300px;
   background-color: #F0F4F1;
}