.footer-seciton {
    margin-top: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: large;
    
}

.footer-seciton p {
    color:wheat;
    height: 0px;
    position: relative;
    bottom: -10px;
}
