.nav-bar {
    /* background-color: #F0F4F1; */
}
.header-text {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1%;
}

.logo-title {
    width: 60%;
    font-size:3em;
    text-align: left;
    font-weight: bolder;
    margin-right: -50px;
    align-items: center;
    
    
    /* height: 100px;
    align-items: center; */
}

.title{
    text-decoration: none;
    color: black;
}

.co2-icon img{
   /* border: 1px solid red; */
   width: 80px;
}