.nav-bar {
    /* background-color: #F0F4F1; */
}
.header-text {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1%;
}

.logo-title {
    width: 60%;
    font-size:5em;
    text-align: left;
    font-weight: bolder;
    margin-right: -50px;
    align-items: center;
    letter-spacing: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-size:5.5vw;
    /* height: 100px;
    align-items: center; */
}

.vertical-hr {
  border-left: 1px solid rgb(194, 184, 184);
  height: 100px;
  top: 0;
  margin-right: -20px;
  
}

.title{
    text-decoration: none;
    color: black;
}

.co2-icon img{
   width: 80px;
}

@media screen and (max-width: 800px) {
    .logo-title {
        width: fit-content;
    }
    .co2-icon img {
      display: none;
    }

    hr {
        display: none;
    }
  }