.sub-page {
  background-color: #F0F4F1;
}

.more-info-ul{
  /* border: 1px solid red; */
  height: 60px;
 
}

.sub-page{
  background-color: #F0F4F1;
}
.web-goals{
  display: inline;
  /* width: 90%; */
  font-size: xx-large;
  font-weight:bolder;
}

.sub-page-link{
  text-decoration: none;
  color: black;
  
}