
.more-info-ul{
  /* height: 60px; */
  padding: 1%;
  list-style: none;
  text-align: right;
  font-size: 4em;
  display: flex;
}

.web-goals{
  font-size: 0.8em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

.sub-page-link{
  text-decoration: none;
  color: #0B2715;
  text-decoration: underline;
  font-family: 'Nunito Sans', sans-serif;
}

@media screen and (max-width: 800px) {
  .web-goals {
    width: fit-content;
    font-size:0.4em;
    font-weight: 500;
  }
}