
.more-info-ul{
  /* border: 1px solid red; */
  /* height: 60px; */
  padding: 1.5%;
  list-style: none;
  text-align: right;
  font-size: 4em;
  display: flex;
  
}

.web-goals{
  /* display: inline; */
  /* width: 90%; */
  font-size: 0.6em;
  font-weight:bolder;
}

.sub-page-link{
  text-decoration: none;
  color: gray;

  
}