.toggle {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 100px;
    border-radius: 0.2em;
    margin: auto;
    /* background-color: rgb(173, 210, 198); */
    /* background-image: linear-gradient(#597962); */
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top:0;
    left:0;
    right:0;
    bottom: 0;

    background-color: #B0C2B4 ;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 53px;
    width: 55px;
    left: 4px;
    bottom: 4px;
    background-color: #E7F1EA;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #809986;
}

input:checked + .slider:before{
    transform: translateX(57px);

}

.slider.rounded:before {
    border-radius: 50%;

}