.toggle {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 100px;
    border-radius: 0.3em;
    margin: auto;
    background-color: unset;
    border: none;
    /* background-color: rgb(173, 210, 198); */
    /* background-image: linear-gradient(#597962); */
    width: 7vw;
    height: 3vw;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: #809986 ;
    transition: 0.4s;
    border-radius: 0.3em;
}

.slider:before {
    position: absolute;
    content: "";
    height: 51px;
    width: 53px;
    left: 4px;
    bottom: 4px;
    background-color: #E7F1EA;
    transition: 0.4s;
    border-radius: 60%;
    width: 4vw;
    height: 4vw;
}

.toggle input:checked + .slider {
    background-color: #1E2B22;
}

.toggle input:checked + .slider:before{
    transform: translateX(40px);

}

.slider.rounded:before {
    border-radius: 50%;

}
