.select-options-bar {
    width: 90%;
    padding: 30px;
    margin-left: 0;
    background-color: #F0F4F1;
      
}

.sorting-display-container{
    background-color: #F0F4F1;
    width: 90%;
    
}

.popular-search-ul{
    border: 1px solid red;
    width: 400px;
}

.popular-search-li{
    height: 100px;
    
}