.result_list{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #B1C3B5;
}
.search-result-item{
    background-color:#B1C3B5 ;
    height: 200px;
    width: 80%;
}