html{
  margin: 10px;
  text-align: center;
  background-color: #B1C3B5;
  padding: 60px;
}

*{
  background-color: #F0F4F1;
  margin: auto;

}

form {
  width: 60%;
  height: 100%;
  
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #A7ACA7;
  padding: 0;
}
