.category-container{
    /* margin: 30px;
    padding: 20px; */
    /* border: 2px solid red; */
    margin-top: 30px ;
    padding-top: 30px;
    
}

.category-items {
    /* border: 4px solid rgb(26, 141, 26); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category-list{
    /* border: 2px solid rgb(141, 26, 55); */
    margin-left: -20px;
    
}

.category-list button{
    /* border: 2px solid rgb(141, 26, 55); */
    background-color: #c0ccc3;
    transition: all .2s ease-in-out;
    width: 400px;
    height: 200px;
    border: none;
    /* border-radius: 0.4em; */
}

.category-list button.dark{
    background-color: #809986;
}


.category-list button.dark:hover , button.dark:focus{
    background-color: #c0ccc3;
    transform: scale(1);
}
.category-list button:hover, button:focus {
    background-color: #809986;
    transform: scale(1);
}

/* hr { 
    display: block;
    width: 300px;
    height: 2px;
    border-top: 1px solid #b3aeb0;
  } */
