
.top-form-wrapper {
    border: 2px solid greenyellow;   
    width: 100%;
    margin-top: 2rem ;
}

.calculate {
    border: 2px solid red;   
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #B1C3B5;
}

.container {
    display: flex;
    align-items: center;
    background-color: transparent;

}

.container select {
    width: 100px;
    height: 60px;
    background-color: transparent;

}

.container input {
    background-color: transparent;
    /* border: none; */
    text-align: center;
    /* background-color: transparent; */
    
    
}
.autocomplete-div {
    background-color: unset;
}

.calculate-btn {
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: #913339;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    margin-left: 1rem;


}

.calculate-btn:hover {
    background-color: #1E2B22;
}

.add-input-box-btn {
    width: 20px;
    border: none;
    background: transparent;
    font-size: x-large;
    margin-left: -2rem;
}