
.top-form-wrapper {
    /* border: 2px solid greenyellow;    */
    width: 100%;
    margin-top: 2rem ;
    
}
.calculate-all-box {
    display: flex;
    flex-direction: row;
    border-radius: 0.6em;
    font-family: 'Nunito Sans', sans-serif;
}
.calculate {
    /* border: 2px solid red;    */
    height: 190px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #1E2B22;
    border-radius: 1.3em;
    margin-top: 20px;
    /* border: 2px solid red; */
    
}

.container {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 20px;
    
}

.container select {
    width: 100px;
    height: 60px;
    background-color: transparent;
    border-radius: 0.3em;
    border: 1px solid #1E2B22;
    color: #1E2B22;
    font-family: 'Nunito Sans', sans-serif;
}


.container input {
    background-color: transparent;
    /* border: none; */
    /* text-align: center; */
    width: 200px;
    
}
.autocomplete-div {
    background-color: unset;

}

#calc-input-color {
    color: #1E2B22;
}

.calculate-btn {
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: #913339;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    margin-left: 1rem;
    border: none;
    font-family: 'Nunito Sans', sans-serif;

}

.calculate-btn:hover {
    background-color: #719f7f;
}

.distance-add-path-btn-wrap {
    /* border: 1px solid green; */
    background-color: unset;
}

.add-remove-btn-ul{
    /* margin: 0; */
    /* text-align: left; */
    /* border: 1px solid greenyellow; */
    background-color: unset;
    
  }
  
.add-input-box-btn{
    /* width: 20px; */
    border: none;
    font-size: x-large;
    margin-left: -2rem;
    /* border: 1px solid purple; */
    background-color: unset;
    color: #1E2B22;
}

.remove-input-box-btn {
    /* width: 20px; */
    border: none;
    font-size: x-large;
    background: unset;
    /* border: 1px solid purple; */
    background-color: unset;
    color: #1E2B22;
}

.plus-icon {
    background-color: unset;
}

.remove-icon {
    background-color: unset;
}

.current-total-distance {
    font-size: x-large;
    font-weight: 500;
    padding: 20px;
}