
.top-form-wrapper {
    width: 100%;
    margin-top: 2rem ;
    
}
.calculate-all-box {
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 0.6em;
    font-family: 'Nunito Sans', sans-serif;
}

.calculate {
    height: 190px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #1E2B22;
    border-radius: 1.3em;
    margin-top: 20px;
}

.container { 
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 20px;
}

.container select {
    width: 100px;
    height: 60px;
    background-color: transparent;
    border-radius: 0.3em;
    border: 1px solid #1E2B22;
    color: #1E2B22;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: -10px;
    margin-right: 10px;
}

.container input {
    background-color: transparent;
    width: 100%;
    margin-right: 1em;
}

.autocomplete-div {
    background-color: unset;
}

#calc-input-color {
    color: #1E2B22;
}

.calculate-btn {
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: #913339;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    margin: 0.3rem;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}

.calculate-btn:hover {
    background-color: #809986;
}

.distance-add-path-btn-wrap {
    background-color: unset;
    margin-right: 0;
}

.add-remove-btn-ul{
    background-color: unset;
    margin-left: -5rem;
  }
  
.add-input-box-btn{
    border: none;
    font-size: x-large;
    margin-left: -3rem;
    margin-right: 0.4em;
    background-color: unset;
    align-items: center;
    color: #1E2B22;
}

.remove-input-box-btn {
    border: none;
    font-size: x-large;
    background: unset;
    margin-left: -1rem;
    background-color: unset;
    color: #1E2B22;
}

.plus-icon {
    background-color: unset;
}

.remove-icon {
    background-color: unset;
}

.current-total-distance {
    font-size: x-large;
    font-weight: 500;
    padding: 20px;
    width: 50%;
}

#home-desc {
    margin-top: -50px;
}

@media screen and (max-width: 1000px) {
    .container select {
      width: 30px;
      margin-left: 6px;
    }

    .calculate-btn  {
        width: 40px;
        font-size: 0.4em;
        text-transform: none;
        text-align: left;
        text-indent: -2em;
    }

    .add-remove-btn-ul {
        position: relative;
        right: -20px;
        bottom: 40px;
        font-size:xx-small;
    }
  }

  @media screen and (max-width: 1300px) {
    .container select {
        width: 40px;
      }

    .add-remove-btn-ul {
        position: relative;
        right: -20px;
        bottom: 40px;
        font-size:xx-small;
        margin-right: 2em;
    }

    .plus-icon, .remove-icon {
        height: 15px;
    }
}