.estimate-hr {
    height: 300px;
}

.estimate-result-comp {
    display: flex;
    /* border: 1px solid red; */
    width: 90%;
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.estimate-result {
    /* border: 1px solid gray; */
    width: 300px;
    height: 250px;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin-left: 0;
}

.estimate-result p, .estimate-comparision p{
    font-size: 20px;
}

.estimate-comparision {
    /* border: 1px solid green; */
    margin-top: 5%;
    width: 800px;
    height: 350px;
    
    /* margin-right: 20px; */
}

.estimate-comparision p {
    margin-top: 20px;
}

.social-impact-desc {
    padding: 40px;
    
}
.social-impact-chart-wrapper {
    /* border: 1px 
    solid green; */
    margin-left: 0;
    margin-top: -5rem;

}
.social-emssion-impact{
    /* border: 1px 
    solid red;
   */
    display: flex;
    flex-direction: row;
}