.btn-ul{
    /* align-content: space-between; */
    /* border: 1px solid red; */
    /* width: 400px; */
    width: 50%;
    /* margin-left: 20em; */

}

.inputform {
    margin: 50px auto;
    /* background-color: #F0F4F1; */
      
    /* border: 2px solid brown; */
}

.form-container {
    /* border: 1px solid blue; */
    width: 70%;
}

label, input {
    /* border: 1px solid red; */
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 40px;
    margin: 30px auto;
    border: 2px solid #A7ACA7;
    border-radius: 0.3em;
}

.progressbar {
    height: 10px;
    background-color: #99494D;
    width: 330px;
    margin-bottom: 20px;
  }
  
  .progressbar div {
    margin-left: 0;
    width: 16%;
    height: 10px;
    background-color: #A7ACA7;
  }
  
  .form-container .footer button{
    border-radius: 0.4em;
    width: 80px;
    height: 50px;
    background-color: #99494D;
    border: none;
    font-weight: bold;
    color:white;
    cursor: pointer;
    padding: 10px 5px;
    margin:1em 6em;
  }

  .google-map-api-btn {
    border-radius: 0.4em;
    width: 70px;
    height: 50px;
    background-color: #99494D;
    border: none;
    color:white;
    margin: 10px;
  }

  .select-bar{
    width: 400px;
    border: 1px solid red;
  }

  .google-map-load {
    border: 1px solid red;
    width: 300px;
    height: 300px;
  }

  .from-intput{
    width: 200px;
    display: flex;
    flex-direction: row;
  }