
.btn-ul{
    width: 50%;
}

.inputform {
  margin: 60px auto;
  font-family: 'Nunito Sans', sans-serif;
}

.inputform .header {
  padding: 30px;
}

.form-container {
    width: 70%;
    margin-top: 20px;
}

label, input { 
    padding: 10px;
    margin-top: 30px;
    width: 250px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid #1E2B22;
    border-radius: 0.3em;
    background-color: #1E2B22;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.form-container .footer button{
    border-radius: 0.4em;
    width: 80px;
    height: 50px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0;
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
  }

.footer {
  width: 100%;
  display: flex;
}

.footer-btn-sep1 {
  width: 80px;
  margin: 0;
  margin-top: -90px;
  background-color: unset;
}

.footer-btn-sep2 {
  width: 80px;
  margin-right: 0;
  margin-top: -90px;
  background-color: unset;
}

.current-total-distance {
  margin-top: 10px;
}

.approx-distance input, .brand-name input, .year input, .user-name input{
  width: 400px;
}


  