.mission-container{
    margin: 30px auto;
    width: 80%; 
   
}

.mission-card{
    display: flex;
    flex-direction: row;
    background-color: #B1C3B5;
    width: 800px;
    height: 300px;
    margin: 30px auto;
    font-size: large;
    font-weight: bolder;
    color: white;
    border-radius: 0.3em;
}

.mission-card div{
    margin: 10px;
    width: 300px;
    background-color: #6b8d73;
    border-radius: 0.3em;
}