.mission-container{
    margin: 30px auto;
}

.mission-cards{
    display: flex;
    flex-direction: row;
    /* background-color: #B1C3B5; */
    height: 400px;
    font-size: large;
    font-weight: bolder;
    color: rgb(249, 245, 245);
    border-radius: 0.3em;
    padding: 30px;
    /* background-color:#e7eee8; */
    
}

.card-insights {
    background-color: #d7e1d9;
    width: 280px;
    height: 300px;
    margin: 15px 10px 10px 0;
    border-radius: 0.3em;
}

.card-missions-1 {
    background-color: #c0cbc2;
    position: relative;
    width: 430px;
    height: 300px;  
    margin-left: 20px;
    border-radius: 0.3em;
}

.card-missions-2 {
    background-color: #B0C2B4;
    width: 440px;
    height: 300px;  
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 0.3em;
}

.card-habbits {
    background-color: #83A58B;
    width: 260px;
    height: 300px;
    margin-bottom: -30px;
    border-radius: 0.3em;
}